{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}    
    <div class="max-w-lg mx-auto mt-10 p-5">
        <a href="{% url 'leads:Home-category' %}" class="hover:text-blue-500">go back to all category list</a>
        <div class="py-5 border-t border-gray-200 mt-5">
            <h1 class="text-4xl text-gray-800">are you really want to delete this category</h1>
        </div>
        
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md mt-2">Yes</button>
            <div class="w-full text-white bg-blue-500 mt-3 px-3 py-2 rounded-md text-center hover:bg-blue-600"><a href="{% url 'leads:Home-category' %}">not this time</a></div>
            
        </form>
    </div>
{% endblock content %}